
<form method="get" action="/movies" >

<div id="search" class="inset">
  All of the Movies!
  <p id="subtitle">Choose a movie, get the info.</p>
  <input id="searchBar" type="text" name="movie_title" placeholder="Choose your movie!" class="bar"/></br>
    <input type="Submit" class="but">
  </div>
</form>


