<!DOCTYPE html>
<link href="/movies.css" rel="stylesheet" />

<html>

<head>
<title>All of the the Movies</title>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<body>

<%= yield %>

</body>
<footer>
  &copy; Nico Crisafulli, 2013
</footer>
</html>
