<div id="results">
  <img id="not_found" src="http://davisw.files.wordpress.com/2010/01/patt11.jpg">
  <p style="font-size: 25px">Errrnt. Movie not found.</p>
  <p><a href="/">Please search again.</a></p>
</div>